.custom-alert {
    display: none;
    position: fixed;
    top: 0;
    background-color : rgba(0, 0, 0, 0.50);
    backdrop-filter  : blur(5px);
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    z-index: 1000;
    
}

.custom-alert .alert-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #FFFFFF;
    padding: 30px 40px;
    border-radius: 10px;
    width: 600px;
    animation: popup-animation 0.5s ease-out;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.855);
}

.custom-alert .alert-content > span {
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.custom-alert #alertCloseButton {
    margin-top: 20px;
    width: 40%;
    padding: 10px 0;
    cursor: pointer;
    border: none;
    background-color: #2f94ff;
    color: white;
    font-weight: 700;
    border-radius: 6px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.custom-alert #alertCloseButton:hover {
    background-color: #002366;
    opacity: 0.8;
}

@keyframes popup-animation {
    0% {
        transform: scale(0.5); /* Start smaller */
        opacity: 0;           /* Fully transparent */
    }
    60% {
        transform: scale(1.1); /* Slightly larger for a "bounce" effect */
        opacity: 1;            /* Fully visible */
    }
    100% {
        transform: scale(1);   /* Set to normal size */
    }
}